* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    list-style-type: none;
    flex-wrap: nowrap;
}

.main-body-content {
    height: 50rem;
    border: 1px solid red;
    position: relative;
    top: 5.25rem;
}

.tagline {
    border: 1px solid red;
    display: flex;
    position: fixed;
    align-items: center;
}

#school-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    background-color: transparent;
    position: fixed;
    top: 0%;
}

.umg-logo {
    height: 100%;
}

.umg-logo-image {
    height: 100%;
}

nav li {
    display: inline-block;
    padding-left: 1rem;
}